html {scroll-behavior: smooth;}
* {padding:0px; margin:0px; outline: 0px; font-family: Arial, Helvetica, sans-serif; letter-spacing: 1px;}
header {width: 100%; display: flex; background-color:#4f64cf; justify-content:space-around; color: #fff;}
header .logo {padding: 16px; cursor: pointer;}
header nav ul li {color: #fff; list-style:none; display: inline-block; font-size: 14px;}
header nav ul li a {padding:16px; display: inline-block; cursor: pointer; border-bottom: solid 4px transparent; transition: 0.5s;}
header nav ul li a:hover { border-bottom: solid 4px #fff;}
header .cart {padding:14px 16px; font-size:20px; position:relative;}
header .cart::before {content: '10'; position:absolute; top:6px; right:6px; font-size: 10px; padding:4px; border-radius:50%; background-color: #000;}
.banner {width: 100%; height:360px; display:flex; background-color: #fff; border-bottom: solid 1px #ccc; background-image: url(https://fakestoreapi.com/img/61pHAEJ4NML._AC_UX679_.jpg); background-repeat: no-repeat; background-size:unset; background-position: right;}
.banner .text-section {width:25%; height: 100%; font-size:42px; line-height: 52px; text-align: center; position: relative; padding:0px 50px; background-color: rgba(0, 0, 0, 0.9); color: #fff; display: flex; justify-content: center; align-items: center;}
.container {padding:0px 10px 0px 24px; display: flex; justify-content: center; flex-wrap: wrap; gap:12px;}
.container div {width:20%; padding: 24px; box-shadow:0px 4px 10px #ccc; background-color: #fff; text-align: center; border-radius: 16px; border: solid 1px #e9e9e9; overflow: hidden;}
.container .box-container.hide {display: none;}
.banner .text-section::after {content: ''; height:4px; width:18%; position: absolute; bottom:90px; background-color: #fff;}
.container div:hover img {transform: scale(1.05); cursor: pointer;}
.container div img {width:auto; height:auto; transition:0.5s; max-height: 160px; text-align: center;}
.container div h2 {text-align:left; font-size: 14px; font-weight: 600; margin-top: 12px; color: #787878;}
.container div p {text-align:left; display: block; margin:8px 0px; font-size: 14px; line-height: normal;}
.container div p::before {content: '$';}
.container div span.icon-container {display:block; text-align:left; font-size:12px; color:#a1a1a1;}
footer {width: 100%; display: flex; justify-content: space-between; border-top: solid 1px #ccc; padding: 16px 0px;}
footer div {width: 25%; padding:24px;}
footer div span {color: #787878; font-size: 14px; font-weight: 600; margin-bottom: 6px; display: block;}
footer div ul {list-style: none;}
footer div ul li{font-size: 13px; line-height: 20px; color: #888888; cursor: pointer;}
footer div ul li a {font-size: 13px; line-height: 24px; color: #888888; cursor: pointer;}
footer div ul li a:hover {color:#000000;}
footer div ul li span {display: inline-block; font-size: 18px; padding:10px 4px; }
footer div ul li span i {transition: 0.3s;}
footer div ul li span i:hover {transform: scale(1.3);}
.iconToggle {display: none;}

.loader {position: fixed; top:0; left: 0; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center; background-color:#fff; transition: opacity 0.75s visibility 0.75s; z-index: 999;}
.loader-hidden {opacity: 0; visibility: hidden;}
.loader::after {content:''; width: 75px; height: 75px; border:15px solid #ddd; border-top-color: blue; border-radius: 50%; animation:loading 0.75s ease infinite;}


.container div.pagination {display:flex; flex-direction: row; justify-content: center; margin-top: 20px; width: 100%; box-shadow: none; border: none;}
.container div.pagination::before {content: 'Pages'; font-size: 12px; font-weight: bold; color: #4b4b4b; margin-top:5px; margin-right: 8px;}
.pagination button {padding:4px 8px; border: solid 1px #ccc; margin: 0 2px; cursor: pointer; background-color: #fff; border-radius:2px;}
.pagination button:hover {background-color: #ccc;}
.hidden {clip: rect(0 0 0 0); clip-path: inset(50%); height: 1px; overflow: hidden; position: absolute; white-space: nowrap; width: 1px;}
.pagination button.active {color: #007bff; border-color:#007bff;}
@keyframes loading { from {transform:rotate(0turn);} to {transform:rotate(1turn);}}

.search-section {width: 100%; display:flex; justify-content:end; padding:32px 0px 15px 0px;}
.search-section .search-container {position: relative;}
.search-section  .search-icon {position:absolute; top:13px; left:12px; font-size: 14px; color:#757575;}
.search-section input[type="text"] {padding:12px 10px; padding-left:36px; font-size: 14px; border:solid 1px #9f9f9f; border-radius:4px; max-width:350px; color: #333;}
.search-section input[type="text"]::placeholder {color: #919191;}
.search-section select.sorting {padding:12px 10px; font-size: 14px; border:solid 1px #9f9f9f; background-color: #fff; border-radius:4px; max-width:250px; color: #333; margin-right:32px; margin-left:16px;}

.hero-section {display: flex; background:#fff; padding:24px;}
.hero-section .filter-section {padding:24px; background:#fff;}
.hero-section .filter-section ul {white-space: nowrap; font-size:13px; list-style: none; margin-top:12px;}
.hero-section .filter-section ul li {padding:6px 0px;}
.hero-section .filter-section ul li label input[type="checkbox"]{position: relative; top:1px; padding-right:6px;}
.filter-section h4 {padding: 4px; border-bottom: solid 1px #9d9d9d; color: #333;}
.filter-section p.text{ font-size:15px; padding:12px 0px;}
.categoryList {min-width: 200px;}
.categoryList label {display: block; padding:6px 0px; color:#404040; cursor: pointer;}
.categoryList label input {border-color: #ccc; position:relative; top:2px; right:2px;}
.load-more-container {display: flex; justify-content: center; width: 100%; padding: 32px 0px; background-color: #fff;}
.load-more-container button.load-more {display:block; cursor: pointer; opacity: 0.8; padding:12px 16px; background-color: #006cc8; color: #fff; border: solid 1px #006cc8; border-radius: 4px;}
.load-more-container button.load-more:hover {opacity: 1;}
.product-not-found {color: rgb(176 176 176); display: flex; justify-content: center; align-items: center; width: 100%; font-size: 24px;}

@media(max-width:768px) {
    header {position: sticky; top: 0; z-index: 999; justify-content: space-between;}
    header nav {display: none;}
    .container {padding:0px 0px 50px 0px; gap:8px;}
    .container div {width:36%; padding:16px; display: flex; flex-direction: column; justify-content: center;}
    .container div h2 {font-size: 12px; line-height: 16px;}
    .container div p {font-size: 12px;}
    .container div img {width: 100%; max-height: 130px;}
    .banner {position: relative; height: 224px;}
    .banner .text-section {width:80%; height:70%; font-size: 32px; line-height: 42px; padding: 0px; position: absolute; bottom:-70px; top: auto; left: 10%; }
    .banner .text-section::after {width:32%; bottom:24px;}
    footer {flex-direction: column;}
    footer div {width: 80%;}
    .iconToggle {display:inline; float:right; color: #fff; padding-top:13px; padding-left: 10px; cursor: pointer;}
    .iconToggle i {font-size:24px; color: #fff;}
    .iconToggle i.menuIcon {display:inline-block;}
    .iconToggle i.CloseIcon {display:none;}
    .iconToggle.active i.menuIcon {display:none;}
    .iconToggle.active i.CloseIcon {display:inline-block;}
    .iconToggle.active ~ nav {display: block; position: fixed; top:46px; height: calc(100vh - 40px); left:0px; width:100%; background:rgb(79 100 207); border-top:solid 1px #788eff;}
    .iconToggle.active ~ nav ul li {width: 100%;}
    header nav ul li a:hover,header nav ul li a:active,header nav ul li a:focus { border-bottom: solid 4px #4f64cf; background-color:transparent;}
    .hero-section {flex-direction: column; padding-top:32px; align-items: flex-start;}
    .hero-section .filter-section {padding:0px 24px 0px 24px; margin-bottom: 24px;}
    .search-section {justify-content: center;}
    .search-section input[type="text"] {max-width: 100px; font-size: 12px;}
    .search-section select.sorting {max-width: 150px; margin-left: 8px; margin-right: 0px; padding: 10px;}
    .search-section {margin-top:100px;}
    .load-more-container {padding: 0px 0px 24px 0px;}
    .categoryList {padding:0px 16px 10px 16px;}
}

@media(max-width:1024px) {
    .container div img {width: 100%;}
}

@media(max-width:1280px) {
    .container div img {width: 100%;}
}